.sidepanel-inner, .app-nav, .app-menu {
    background-color: #1F2224!important;
}

@font-face {
    font-family: "paladins";
    src: url("/fonts/Paladins-Semi-Italic/paladinsleft.ttf") format("ttf");
  }

  @font-face {
    font-family:"Paladins Condensed";
    src:url("/fonts/Paladins_Condensed/paladinscond.woff") format("woff");
    font-weight: bold;
    font-style:normal;
  }

  html,
body {
    width: 100%;
    overflow-x: hidden!important;
    scroll-behavior: smooth;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    transition: scroll-behavior .4s ease-in-out;
    background-color: #141414;
}

  

  h1, h2, h3, h4, h5, h6 {
    font-family: "Paladins Condensed";
    /* font-family: "Iceland", sans-serif; */
    font-style: italic;
    text-transform: uppercase;
  }

  .pala-straight {
    font-family: "Paladins Condensed";
  }

  a {
    font-family: "Iceland", sans-serif;

    font-style: normal;
  }

  p{
    font-family: "Iceland", sans-serif;

    font-style: normal;
    color: white;
    font-size: 20px;
  }

  .create-lock {
    background-color: #1F2224;
    border-radius: 5px;
  }

  .yellow {
    color: #FFDB60;
  }

  .font-24 {
    font-size: 24px;
  }

  .label {
    font-family: "Iceland", sans-serif;
    color: #898D8F;
    font-size: 18px;
  }

  .input {
    border: 1px solid #6E7375;
    background: transparent;
    font-size: 15px;
    font-family: "Iceland", sans-serif;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    outline: none!important;
  }